.admin-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.admin-form form {
  border: 3px solid #555;
  padding: 30px;
  border-radius: 15px;
}
.admin-form form h5 {
  margin-bottom: 20px;
  text-align: center;
}
.admin-form form .form-part section {
  margin: 0;
}
.admin-form form .submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.admin-dashboard h5 {
  margin-bottom: 25px;
  text-align: center;
}
.admin-dashboard .loading {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.admin-dashboard .admin-edit-user, .admin-dashboard .menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-dashboard .admin-edit-user .edit-header, .admin-dashboard .menu .edit-header {
  width: 100%;
  margin: 25px 0;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.admin-dashboard .admin-edit-user .edit-header .go-back, .admin-dashboard .menu .edit-header .go-back {
  display: flex;
  cursor: pointer;
}
.admin-dashboard .admin-edit-user .admin-edit-menu h5, .admin-dashboard .admin-edit-user .item h5, .admin-dashboard .menu .admin-edit-menu h5, .admin-dashboard .menu .item h5 {
  margin-bottom: 25px;
  text-align: center;
}
.admin-dashboard .admin-edit-user .admin-edit-menu .button-part, .admin-dashboard .admin-edit-user .item .button-part, .admin-dashboard .menu .admin-edit-menu .button-part, .admin-dashboard .menu .item .button-part {
  display: flex;
  justify-content: center;
}
.admin-dashboard .admin-dashboard-data {
  width: 90%;
}
.admin-dashboard .admin-dashboard-data .admin-date {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.admin-dashboard .admin-dashboard-data .admin-date .admin-name {
  display: flex;
}
.admin-dashboard .admin-dashboard-data .admin-date .admin-name button {
  min-width: 20px;
  padding: 0;
}
.admin-dashboard .admin-dashboard-data .admin-select {
  margin: 5px 0;
}
.admin-dashboard .admin-dashboard-data .table {
  height: 400px;
  overflow-y: auto;
}
.admin-dashboard .admin-dashboard-data .table .question-cell {
  width: 200px;
  max-height: 150px;
  min-height: 100%;
  overflow-y: scroll;
}
.admin-dashboard .admin-dashboard-data .table .question-cell .question-body {
  width: 200px;
  max-height: 150px;
  min-height: 100%;
}
.admin-dashboard .admin-dashboard-data .admin-filter .admin-reset {
  margin: 10px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.admin-dashboard .admin-dashboard-data .add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.admin-dashboard .admin-dashboard-data .add form h4 {
  margin: 15px 0 25px 0;
}
.admin-dashboard .admin-dashboard-data .add .button-part {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=Admin.css.map */
